* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Arial", sans-serif;
}

hr {
  margin: 40px 0;
  border-color: #b1b1b1;
}

/* MENU NAV */

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 5;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  padding: 0 5rem;
}

header ul {
  display: flex;
}

header ul li:not(:first-child) {
  margin-left: 1.6rem;
}

header ul li a {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #000;
  font-size: 1.2rem;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

header ul li a:hover {
  background-color: #000;
  color: #fff;
}

/* NAVEGAÇÃO POR TABS */

.navegationTabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 8rem);
}

.nav-tabs {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.nav-tabs li:not(:first-child) {
  margin-left: 1.5rem;
}

.nav-tabs li a {
  display: inline-block;
  padding: 10px;
  font-size: 1.8rem;
  border: 2px solid #000;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.nav-tabs li a:hover,
.nav-tabs li a.active {
  background-color: #000;
  color: #fff;
}

.tab-content {
  border: 2px solid #000;
  border-radius: 5px;
  max-width: 50%;
  padding: 1.5rem;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
  animation: fadeIn 0.3s forwards;
}

.tab-content .tab-pane h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.tab-content .tab-pane p {
  font-size: 1rem;
  line-height: 1.6rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* ACCORDION */

.accordionMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 8rem);
  background-color: #eee;
}

.accordion {
  border: 2px solid #000;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  width: 100%;
}

.accordion .title {
  font-size: 2rem;
  padding: 1.5rem;
  display: flex;
  align-content: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordion .title:hover {
  background-color: #e7e7e7;
}

.accordion .icon {
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.accordion .icon img {
  max-width: 20px;
  transition: transform 0.3s;
}

.accordion p {
  display: none;
}

.accordion.active .title {
  border-bottom: 2px solid #000;
}

.accordion.active p {
  display: block;
  font-size: 1.6rem;
  padding: 1.5rem;
  line-height: 1.6rem;
  animation: fadeIn 0.3s forwards;
}

.accordion.active .icon img {
  transform: rotate(180deg);
}
