// colors

$brand-blue: #0073ce;
$brand-light-blue: #00a5f0;
$brand-green-light: #00d7d7;
$brand-yellow: #ffc800;
$brand-gradient: linear-gradient(99.31deg, #00a5f0 7.94%, #00d7d7 95.32%);

// Gray scale

$gray600: #33303e;
$gray500: #4e4b59;
$gray400: #5f5c6b;
$gray300: #7a7786;
$gray200: #c6c5ce;
$gray100: #f1f0f5;
